/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color: #FF0606 !default;
$red-color-dark: #A30000 !default;
$orange-color: #F89321 !default;
$blue-color: #2BABE0 !default;
$blue-color-dark: #1877A0 !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #90C847 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #577E26 !default;
$green-color-light: #C6E3A1 !default;
$green-color-bright: #8DC741 !default;
$purple-color: #211765!default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #EB4E2E !default;
$pink-color-light: #F3907C !default;
$yellow-color: #E4D965 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
